body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  line-height: 54px;
  font-size: 40px;
  margin: 0 0 28px 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 34px;
  margin: 0 0 28px 0;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 28px 0;
}

h4,
h5,
h6,
span {
  font-family: "Nunito", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 28px 0;
}

button,
label {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 23px;
}
